<div [formGroup]="form">

  <mat-card>

    <mat-card-title [attr.for]="question.id">{{question.sentence}}</mat-card-title>

    <mat-card-content>
      <div [ngSwitch]="question.questionType">
        <!-- Single Choice -->
        <mat-radio-group *ngSwitchCase="0" [formControlName]="question.id" [id]="question.id">{{question.sentence}}
          <mat-radio-button *ngFor="let opt of question.options" [value]="opt.id">
            {{opt.text}}
          </mat-radio-button>
        </mat-radio-group>
        <!-- Multiple Choice -->
        <div *ngSwitchCase="1" [id]="question.id">
          <div [formGroupName]="question.id">
            <div *ngFor="let opt of question.options;">
              <mat-checkbox (change)="onChange($event)" [value]="opt.id">{{opt.text}}</mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
