<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let question of questions" class="form-row">
      <app-survey-question [form]="form" [question]="question"></app-survey-question>
    </div>

    <div class="form-row">
      <!--      <button type="submit" [disabled]="!form.valid">Save</button>-->
      <button type="submit"  mat-raised-button color="primary">Save</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong>
    <br>
    <br>
    {{payLoad}}
  </div>
</div>
